In [3]:
import requests
import pandas as pd
from census import Census

In [4]:
def json_to_dataframe(response):
    return pd.DataFrame(response.json()[1:],columns=response.json()[0])
url_str = "https://api.census.gov/data/2017/acs/acs1?get=NAME,B16010_041E,B01003_001E,B06011_001E,B23025_005E,B02001_004E&for=county:453,053,491,021,209,055&in=state:48&key"
url_str1 = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B16010_041E,B01003_001E,B06011_001E,B23025_005E,B02001_004E&for=county:453,053,491,021,209,055&in=state:48&key"
url_str2 = "https://api.census.gov/data/2021/acs/acs1?get=NAME,B16010_041E,B01003_001E,B06011_001E,B23025_005E,B02001_004E&for=county:453,053,491,021,209,055&in=state:48&key"
response=requests.request("GET",url_str)
response1=requests.request("GET",url_str1)
response2=requests.request("GET",url_str2)

response.text
json_to_dataframe(response)
census_pd = pd.DataFrame(json_to_dataframe(response))
census_pd = census_pd.rename(
    columns={
      "B16010_041E": "Higher Education",
      "B01003_001E": "Population",
      "B06011_001E": "Median Income",
      "B23025_005E": "EMPLOYMENT STATUS",
      "B02001_004E": "RACE",
      "NAME": "Name",
      "state": "Texas",
      
    }
   )
census_pd = census_pd[
  [
        "Name",
        "Higher Education",
        "Population",
        "Median Income",
        "EMPLOYMENT STATUS",
        "RACE",
        "Texas",
        
        
    ]
]

print(f"Number of rows in the DataFrame: {len(census_pd)}")
census_pd.head()

Number of rows in the DataFrame: 4

,Name,Higher Education,Population,Median Income,EMPLOYMENT STATUS,RACE,Texas
0,"Travis County, Texas",416545,1226698,38480,24416,7940,48
1,"Hays County, Texas",None,214485,31877,5797,1137,48
2,"Williamson County, Texas",147321,547545,37495,10561,1333,48
3,"Bastrop County, Texas",None,84761,30819,1030,295,48

In [5]:
response1.text
json_to_dataframe(response1)
census_pd = pd.DataFrame(json_to_dataframe(response1))
census_pd = census_pd.rename(
    columns={
      "B16010_041E": "Higher Education",
      "B01003_001E": "Population",
      "B06011_001E": "Median Income",
      "B23025_005E": "EMPLOYMENT STATUS",
      "B02001_004E": "RACE",
      "NAME": "Name",
      "state": "Texas"
    }
   )
census_pd = census_pd[
  [
        "Name",
        "Higher Education",
        "Population",
        "Median Income",
        "EMPLOYMENT STATUS",
        "RACE",
        "Texas",
        
    ]
]

print(f"Number of rows in the DataFrame: {len(census_pd)}")
census_pd.head()    
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)

Number of rows in the DataFrame: 4

In [6]:
response2.text
json_to_dataframe(response2)
census_pd = pd.DataFrame(json_to_dataframe(response2))
census_pd = census_pd.rename(
    columns={
      "B16010_041E": "Higher Education",
      "B01003_001E": "Population",
      "B06011_001E": "Median Income",
      "B23025_005E": "EMPLOYMENT STATUS",
      "B02001_004E": "RACE",
      "NAME": "Name",
      "state": "Texas"
    }
   )
census_pd = census_pd[
  [
        "Name",
        "Higher Education",
        "Population",
        "Median Income",
        "EMPLOYMENT STATUS",
        "RACE",
        "Texas",
        
    ]
]

print(f"Number of rows in the DataFrame: {len(census_pd)}")
census_pd.head()

Number of rows in the DataFrame: 4

,Name,Higher Education,Population,Median Income,EMPLOYMENT STATUS,RACE,Texas
0,"Travis County, Texas",512336,1305154,46868,38913,15976,48
1,"Williamson County, Texas",209215,643026,46379,17071,3828,48
2,"Bastrop County, Texas",None,102058,37132,3045,1576,48
3,"Hays County, Texas",None,255397,33453,5774,2074,48

In [10]:
#census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)